.films {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 10px;
  justify-content: center;
  // max-width: 1400px;
}

.animate__animated.animate__fadeIn {
  --animation-duration: 5s;
}

@media (max-width: 375px) {
  .film {
    width: 300px;
  }
}
