.loved-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loved-list h3 {
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
}
